* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .btns .btn {
  padding: 12px 40px;
  background: #4246c9;
  border-radius: 100px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150.5%;
  color: #ffffff;
  text-align: center;
  font-family: serif;
  display: inline-block;
  text-decoration: none;
}

.nav .btns .btn:not(:first-child) {
  margin-left: 100px;
}

.landing .home {
  width: 90%;
  height: 85vh;
  margin: 0 auto;
}

.landing .home .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .home .content .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.landing .home .content .left .about_link {
  font-weight: 600;
  font-size: 24px;
  line-height: 150.5%;
  color: #4379ff;
  text-decoration: none;
}

.landing .home .content .left .text {
  margin-top: 30px;
  width: 193px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150.5%;
  color: #000000;
}

.landing .home .content .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing .home .content .right .image {
  margin-bottom: 30px;
}

#registration {
  max-width: 1440px;
  height: 100vh;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registration .left {
  width: 60%;
  margin-left: 50px;
}

#registration .left .logo {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

#registration .left .about {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#registration .left .about .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150.5%;
}

#registration .left button {
  width: 334px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 150.5%;
  background-color: #4246c9;
  color: #ffffff;
  cursor: pointer;
}

#registration .reg {
  width: 100%;
  height: 90vh;
  margin-left: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

#registration .reg .top {
  width: 731px;
  height: 72px;
  margin-bottom: 30px;
  background-color: #e4e4ea;
  margin-left: 20px;
}

#registration .reg .right {
  width: 731px;
  height: 828px;
  background-color: #e4e4ea;
  margin-top: 20px;
  margin-left: 20px;
}

#registration .reg .right .register {
  width: 100%;
  letter-spacing: 0.15em;
  color: #8875ff;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#registration .reg .right #form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

#registration .reg .right #form .input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
  border-bottom: 2px solid #4246c9;
  width: 400px;
  height: 50px;
  padding: 10px 0;
}

#registration .reg .right #form .input input {
  outline: none;
  background: none;
  border: none;
  font-size: 16px;
  width: 90%;
}

#registration .reg .right #form .input svg {
  cursor: pointer;
}

#registration .reg .right #form button {
  width: 334px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 150.5%;
  background-color: #4246c9;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

#registration .reg .right #form .log {
  display: flex;
  padding: 0 5px;
}

#registration .reg .right #form .log p {
  font-weight: 100;
  font-size: 13px;
  line-height: 40px;
}

#registration .reg .right #form .log a {
  padding: 6px 10px;
}

#login {
  max-width: 1440px;
  height: 100vh;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login .left {
  width: 100%;
}

#login .left .logo {
  width: 100%;
  margin-bottom: 20px;
}

#login .left .about {
  width: 100%;
  height: 70vh;
  margin-top: 30px;
}

#login .left .about .img {
  padding-left: 200px;
}

#login .left .about .text {
  padding-left: 100px;
  margin-top: 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150.5%;
}

#login .left .about .svg {
  width: 70%;
  height: 20vh;
}

#login .reg {
  width: 100%;
  height: 90vh;
  margin-left: 50px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

#login .reg .top {
  width: 731px;
  height: 72px;
  margin-bottom: 30px;
  background-color: #e4e4ea;
  margin-left: 20px;
}

#login .reg .right {
  width: 731px;
  height: 828px;
  background-color: #e4e4ea;
  margin-top: 20px;
  margin-left: 20px;
}

#login .reg .right .register {
  width: 100%;
  letter-spacing: 0.15em;
  color: #8875ff;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .reg .right #form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

#login .reg .right #form .input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
  border-bottom: 2px solid #4246c9;
  width: 400px;
  height: 50px;
  padding: 10px 0;
}

#login .reg .right #form .input input {
  outline: none;
  background: none;
  border: none;
  font-size: 16px;
  width: 90%;
}

#login .reg .right #form .input svg {
  cursor: pointer;
}

#login .reg .right #form button {
  width: 334px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 150.5%;
  background-color: #4246c9;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}

#login .reg .right #form .log {
  display: flex;
  padding: 0 5px;
}

#login .reg .right #form .log p {
  font-weight: 100;
  font-size: 13px;
  line-height: 40px;
}

#login .reg .right #form .log a {
  padding: 6px 10px;
}

#home {
  max-width: 1440px;
  height: 60vh;
  display: flex;
}

#home .left {
  width: 30%;
  height: auto;
}

#home .left .left_top {
  width: 100%;
  height: auto;
}

#home .left .left_top .logo {
  margin: 15px;
}

#home .left .left_bottom {
  width: 268px;
  height: 540px;
  background: #feffff;
  border: 1px solid #4246c9;
}

#home .left .left_bottom .lists {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .left .left_bottom .add_task {
  width: 215px;
  height: 33px;
  background: #8875ff;
  border-radius: 6px;
  margin-top: 28px;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

#home .right {
  width: 130%;
  height: auto;
}

#home .right .right_top {
  width: 100%;
  height: 80px;
  border: 1px solid #4246c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .right .right_top h2 {
  margin-left: 10px;
}

#home .right .right_top .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .right .right_top .search .search1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  width: 250px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  border-radius: 1000px;
}

#home .right .right_top .search .search1 svg {
  margin-left: 10px;
}

#home .right .right_top .search .search1 .search2 {
  margin-left: 10px;
  outline: none;
  border: none;
}

#home .right .right_top .search .photo {
  margin: 20px;
}

#home .right .right_top .search .photo img {
  width: 42px;
  height: 42px;
}

#home .right .right_top .search .add {
  margin-left: 10px;
  border-radius: 50%;
  background-color: #8875ff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 45px;
  color: white;
  cursor: pointer;
}

#home .right .right_bottom {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home .right .right_bottom .drobdown {
  position: relative;
  display: inline-block;
  right: 45px;
  margin: 10px 0 0 20px;
}

#home .right .right_bottom .drobdown .add {
  margin-top: 15px;
  margin-left: 25px;
  border-radius: 50%;
  background-color: #8875ff;
  border: none;
  width: 55px;
  height: 55px;
  font-size: 45px;
  color: white;
  cursor: pointer;
}

#home .right .right_bottom .drobdown .drobdown_content {
  display: none;
  position: absolute;
  min-width: 140px;
  height: 125px;
  background: #eeeefa;
  box-shadow: 4px 5px 4px rgba(66, 70, 201, 0.31);
  border-radius: 10px;
  z-index: 1;
}

#home .right .right_bottom .drobdown .drobdown_content input {
  position: absolute;
  width: 130px;
  height: 30px;
  left: 5px;
  top: 20px;
  background: #ffffff;
  border-radius: 6px;
  outline: none;
  border: none;
  text-align: center;
}

#home .right .right_bottom .drobdown .drobdown_content .btn {
  position: absolute;
  width: 130px;
  height: 30px;
  background: #4246c9;
  border-radius: 6px;
  border: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  top: 66px;
  left: 5px;
}

#home .right .right_bottom .drobdown:hover .drobdown_content {
  display: block;
  margin-top: 10px;
}

.main .header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */